$card-gap: 24px;

.recommendations-container__card-list {
  gap: $card-gap $card-gap;

  @include media-breakpoint-down(sm) {
    margin-bottom: 0 !important;
  }

  .recommendation-card {
    flex: 0 1 100%;

    @include media-breakpoint-up(sm) {
      flex: 0 1 calc(50% - #{$card-gap - 12});
    }

    @include media-breakpoint-up(md) {
      flex: 0 1 calc(33.333% - #{$card-gap - 8});
    }

    @include media-breakpoint-up(lg) {
      flex: 0 1 calc(25% - #{$card-gap - 6});
    }
  }
}

.recommendations-container__heading {
  overflow-wrap: break-word;
}

#course-recommendations .collapsible-trigger {
  justify-content: space-between;
  text-decoration: none;
  border: 1px solid var(--light-700, #D7D3D1);
  background: var(--extras-white, #FFF);
  font-weight: 700;
  line-height: 24px;
}

.pgn_collapsible {
  padding-bottom: 16px;
}

#course-recommendations .collapsible-body {
  padding: 16px 0 0 0;
}

.footer-icon{
   height: 16px;
   width: 16px; 
}

.recommendations-heading__skeleton {
  width: 300px;
  height: 32px;
  margin-bottom: 52px;
}

.recommendations-subheading__skeleton {
  width: 300px;
  height: 22px;
  margin-bottom: 16px;
}

.skip-btn__skeleton {
  width: 139px;
  height: 40px;
}

