node_modules
npm-debug.log
coverage
module.config.js
dist/
packages/
/.turbo
/turbo.json
/*.tgz

### i18n ###
src/i18n/transifex_input.json
src/i18n/messages.ts
src/i18n/messages/
src/i18n/site-messages/index.ts

### Editors ###
.DS_Store
*~
/temp
/.vscode
