// ----------------------------
// #COLORS
// ----------------------------
$font-blue: #126f9a;
$white: #FFFFFF;

// social platforms
$facebook-blue: #4267b2;
$facebook-focus-blue: #29487d;
$google-blue: #4285f4;
$google-focus-blue: #287ae6;
$microsoft-black: #2f2f2f;
$microsoft-focus-black: #000;
$apple-black: #000000;
$apple-focus-black: $apple-black;

.authn-header {
  border-bottom: 1px solid #e7e7e7;
  height: 3.75rem;
  position: relative;
  z-index: 1000;
}

.authn-header img {
  height: 1.75rem;
  margin-left: 2rem;
  padding: 1rem 0;
  display: block;
  position: relative;
  box-sizing: content-box;
}

.btn-social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  margin: 5px;
  font-size: 14px;

  background-color: $white;
  border: 1px solid $font-blue;
  width: 130px;
  height: 36px;
  color: $font-blue;

  .icon-image {
    background-color: $font-blue;
    max-height: 1.4em;
    max-width: 1.4em;
  }
}

.tpa-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.font-container {
  background-color: $font-blue;
  color: $white;
  font-size: 11px;

  margin-left: -6px;
  padding-top: 10px;
  min-width: 30px;
  height: 35px;
}

.provider-name {
  font-size: 13px;
  text-align: left;
  line-height: 95%;
}

.btn-oa2-facebook {
  color: $white;
  border-color: $facebook-blue;
  background-color: $facebook-blue;

  .icon-image {
    margin-left: 2px;
    width: 20px;
    height: 20px;
  }

  &:hover,
  &:focus {
    background-color: $facebook-focus-blue;
    border: 1px solid $facebook-focus-blue;
    color: $white;
  }
}

.btn-oa2-google-oauth2 {
  color: $white;
  border-color: $google-blue;
  background-color: $google-blue;

  .icon-image {
    margin-left: 2px;
  }

  &:hover,
  &:focus {
    background-color: $google-focus-blue;
    border: 1px solid $google-focus-blue;
    color: $white;
  }
}

.btn-oa2-apple-id {
  color: $white;
  border-color: $apple-black;
  background-color: $apple-black;
  font-size: 16px;

  .icon-image {
    max-height: 1.8em;
    max-width: 2.0em;
  }

  &:hover,
  &:focus {
    background-color: $apple-focus-black;
    border: 1px solid $apple-focus-black;
    color: $white;
  }
}

.btn-oa2-azuread-oauth2 {
  color: $white;
  border-color: $microsoft-black;
  background-color: $microsoft-black;

  &:hover,
  &:focus {
    background-color: $microsoft-focus-black;
    border: 1px solid $microsoft-focus-black;
    color: $white;
  }
}

.submit {
  display: inherit;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.section-heading-line {
  position: relative;
  text-align: center;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 20%;
    background-color: gray;
    height: 1px;
  }

  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 20%;
    background-color: gray;
    height: 1px;
  }
}

.field-link {
  font-weight: normal;
  display: block;
  color: $primary;
  margin-bottom: 5px;
  margin-top: 5px;
  border: none;
  padding: 0;
  background: transparent;
  box-shadow: none;
  text-transform: initial;
  letter-spacing: normal;
  text-decoration: none;
  text-shadow: none;

  &:focus,
  &:hover {
    color: $primary;
  }
}

.login-help {
  padding-left: 14px;
}

.opt-inline-field{
    display: inline-block;
    width: 50%;
}

.opt-year-field{
    padding-left: 15px;
}

.invalid-feedback {
  color: $red;
}

.full-vertical-height{
    height: 100vh;
}

.help-links {
  margin-left: -5px;
}

.mw-420 {
  max-width: 420px;
}

.mw-500 {
  max-width: 500px;
}

.mw-32em {
  max-width: 32em;
}

.h-90 {
  height: 90%;
}

.mt-10 {
 margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.pt-10 {
  padding-top: 10px;
}

@media (min-width: 576px) {
  .reset-password-container {
    width: 420px;
    max-width: 420px;
  }
}

@media (min-width: 1024px) {
  .mw-500 {
    width: 500px;
  }
}

@media (max-width: 450px) {
  .section-heading-line {
    position: relative;
    text-align: center;
  
    &:before,
    &:after {
      width: 10%;
    }
  }
}
