// ----------------------------
// #COLORS
// ----------------------------
$font-blue: #126f9a;
$white: #FFFFFF;

// social platforms
$facebook-blue: #1877F2;
$facebook-focus-blue: #29487d;
$google-blue: #4285f4;
$google-focus-blue: #287ae6;
$microsoft-black: #2f2f2f;
$microsoft-focus-black: #000;
$apple-black: #000000;
$apple-focus-black: $apple-black;
$accent-a-light: #c9f2f5;

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.focus-out {
  position: absolute;
  padding-left: 17px;
  opacity: 0.75;
  z-index: 1;
}

.alert-link {
  font-weight: normal;
  text-decoration: underline;
  color: #0075b4 !important;

  &:hover {
    color: #065683 !important;
  }
}

.authn-header {
  border-bottom: 1px solid #e7e7e7;
  height: 3.75rem;
  position: relative;
  z-index: 1000;
}

.authn-header img {
  height: 1.75rem;
  margin-left: 2rem;
  padding: 1rem 0;
  display: block;
  position: relative;
  box-sizing: content-box;
}

.form-control {
  width: 500px;
}

.btn-social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  margin-bottom: 1rem;
  font-size: 14px;

  background-color: $white;
  border: 1px solid $font-blue;
  width: 242px;
  height: 36px;
  color: $font-blue;

  .icon-image {
    background-color: transparent;
    max-height: 24px;
    max-width: 24px;
  }
}

.btn-tpa {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;

  .icon-image {
    background-color: transparent;
    max-height: 24px;
    max-width: 24px;
  }
}

.tpa-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  margin: 0 !important;
}

.font-container {
  background-color: $font-blue;
  color: $white;
  font-size: 11px;

  margin-left: -6px;
  padding-top: 10px;
  min-width: 30px;
  height: 35px;
}

.btn-oa2-facebook {
  color: $white;
  border-color: $facebook-blue;
  background-color: $facebook-blue;

  &:hover,
  &:focus {
    background-color: $facebook-focus-blue;
    border: 1px solid $facebook-focus-blue;
    color: $white;
  }
}

.btn-oa2-google-oauth2 {
  color: $white;
  border-color: $google-blue;
  background-color: $google-blue;

  .icon-image {
    margin-left: 2px;
  }

  &:hover,
  &:focus {
    background-color: $google-focus-blue;
    border: 1px solid $google-focus-blue;
    color: $white;
  }
}

.btn-oa2-apple-id {
  color: $white;
  border-color: $apple-black;
  background-color: $apple-black;
  font-size: 16px;

  .icon-image {
    max-height: 1.8em;
    max-width: 2.0em;
  }

  &:hover,
  &:focus {
    background-color: $apple-focus-black;
    border: 1px solid $apple-focus-black;
    color: $white;
  }
}

.btn-oa2-azuread-oauth2 {
  color: $white;
  border-color: $microsoft-black;
  background-color: $microsoft-black;

  &:hover,
  &:focus {
    background-color: $microsoft-focus-black;
    border: 1px solid $microsoft-focus-black;
    color: $white;
  }
}

.submit {
  display: inherit;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.section-heading-line {
  position: relative;
  text-align: center;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 20%;
    background-color: gray;
    height: 1px;
  }

  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 20%;
    background-color: gray;
    height: 1px;
  }
}

.field-link {
  font-weight: normal;
  display: block;
  color: $primary;
  margin-bottom: 5px;
  margin-top: 5px;
  border: none;
  padding: 0;
  background: transparent;
  box-shadow: none;
  text-transform: initial;
  letter-spacing: normal;
  text-decoration: none;
  text-shadow: none;

  &:focus,
  &:hover {
    color: $primary;
  }
}

.login-help {
  padding-left: 14px;
}

.opt-inline-field {
  display: inline-block;
  width: 50%;

  .form-control {
    width: 100%;
  }
}

.opt-year-field {
  padding-left: 15px;
}

.invalid-feedback {
  color: $red;
}

.full-vertical-height {
  height: 100vh;
}

.help-links {
  margin-left: -5px;
}

#honor-code p {
  margin: 0;
  padding: 0;
}

#honor-code a span {
  @extend .sr-only;
}

.mw-420 {
  max-width: 420px;
}

.mw-500 {
  max-width: 500px;
}

.mw-65 {
  max-width: 65px;
}

.mw-230 {
  max-width: 230px;
}

.mw-250 {
  max-width: 250px;
}

.w-5 {
  width: 5px;
}

.w-10 {
  width: 10%;
}

.w-35 {
  width: 35%;
}

.w-20 {
  width: 20%;
}

.w-25 {
  width: 25%;
}

.w-80 {
  width: 80%;
}

.mw-32em {
  max-width: 32em;
}

.h-90 {
  height: 90%;
}

.h-120 {
  height: 120px;
}

.h-72 {
  height: 72px;
}

.h-124 {
  height: 124px;
}

.h-10 {
  height: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-0 {
  margin-bottom: 0px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-100 {
  padding-top: 100px;
}

.pl-50 {
  padding-left: 50px;
}

@media (min-width: 576px) {
  .reset-password-container {
    width: 420px;
    max-width: 420px;
  }
}

@media (min-width: 1024px) {
  .mw-500 {
    width: 500px;
  }
}

@media (max-width: 600px) {
  .btn-social {
    width: 47%;
    margin-bottom: 0.75rem;
  }

  .tpa-container {
    justify-content: center;
  }
  .form-control {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .section-heading-line {
    position: relative;
    text-align: center;

    &:before,
    &:after {
      width: 10%;
    }
  }
}

.large-screen-background {
  background-color: $white;
  background-image: -webkit-linear-gradient(-10deg, $primary 50%, $white 50%);
  height: 100vh;
  width: 100%;
}

.medium-screen-background {
  background-color: $white;
  background-image: -webkit-linear-gradient(-11.5deg, $primary 96%, $white 4%);
  width: 100%;
}

.small-screen-background {
  background-color: $primary;
}

.color-accent-a {
  color: $accent-a;
}

.bc-accent-a {
  background-color: $accent-a;
}

.bc-accent-a-light {
  background-color: $accent-a-light;
}

.bc-accent-b {
  background-color: $accent-b;
}

.bc-brand-700 {
  background-color: $brand-700;
}

.bc-brand {
  background-color: $brand;
}

.bc-primary-700 {
  background-color: $primary-700;
}

.bc-light {
  background-color: $light;
}

.rotate-deg-11 {
  transform: rotate(11deg);
}

.skew-deg-170 {
  transform: skew(170deg);
}
